
INFOGR2024TemplateP2/bin/Debug/net6.0/INFOGR2024TemplateP2.pdb
INFOGR2024TemplateP2/bin/Debug/net6.0/INFOGR2024TemplateP2.dll
INFOGR2024TemplateP2/bin/Debug/net6.0/INFOGR2024TemplateP2.exe
INFOGR2024TemplateP2/bin/Debug/net6.0/INFOGR2024TemplateP2.pdb
INFOGR2024TemplateP2/obj/project.nuget.cache
INFOGR2024TemplateP2/obj/project.assets.json
INFOGR2024TemplateP2/.vs/INFOGR2024TemplateP2/v17/.suo
INFOGR2024TemplateP2/.vs/INFOGR2024TemplateP2/FileContentIndex/read.lock
INFOGR2024TemplateP2/.vs/INFOGR2024TemplateP2/FileContentIndex/5029ee14-6cc0-477c-9ca7-4fb0634c0371.vsidx
INFOGR2024TemplateP2/.vs/INFOGR2024TemplateP2/FileContentIndex/3c2b0a70-e6d0-4f23-9851-ff5121fed4ab.vsidx
INFOGR2024TemplateP2/bin/Debug/net6.0/INFOGR2024TemplateP2.dll
INFOGR2024TemplateP2/bin/Debug/net6.0/INFOGR2024TemplateP2.exe
INFOGR2024TemplateP2/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
INFOGR2024TemplateP2/obj/project.nuget.cache
INFOGR2024TemplateP2/obj/project.assets.json
INFOGR2024TemplateP2/obj/INFOGR2024TemplateP2.csproj.nuget.g.props
INFOGR2024TemplateP2/obj/INFOGR2024TemplateP2.csproj.nuget.dgspec.json
INFOGR2024TemplateP2/obj/Debug/net6.0/refint/INFOGR2024TemplateP2.dll
INFOGR2024TemplateP2/obj/Debug/net6.0/INFOGR2024TemplateP2.pdb
INFOGR2024TemplateP2/obj/Debug/net6.0/ref/INFOGR2024TemplateP2.dll
INFOGR2024TemplateP2/obj/Debug/net6.0/INFOGR2024TemplateP2.pdb
INFOGR2024TemplateP2/obj/Debug/net6.0/INFOGR2024TemplateP2.genruntimeconfig.cache
INFOGR2024TemplateP2/obj/Debug/net6.0/INFOGR2024TemplateP2.dll
INFOGR2024TemplateP2/obj/Debug/net6.0/INFOGR2024TemplateP2.csproj.FileListAbsolute.txt
INFOGR2024TemplateP2/obj/Debug/net6.0/INFOGR2024TemplateP2.csproj.CoreCompileInputs.cache
INFOGR2024TemplateP2/obj/Debug/net6.0/INFOGR2024TemplateP2.csproj.AssemblyReference.cache
INFOGR2024TemplateP2/obj/Debug/net6.0/INFOGR2024TemplateP2.assets.cache
INFOGR2024TemplateP2/obj/Debug/net6.0/apphost.exe
